<div class="container paddingcontent">
    <div class="row boxbio">
        <div class="col-md-12 col-lg-6">
            <div class="titleabout">Cahyo Wicaksono</div>
        </div>
        <div class="col-md-12 col-lg-6 story">
            Seorang Web Developer dengan pengalaman lebih dari 10 tahun dalam dunia pembuatan website.

            Saat ini tinggal di Kota Bekasi. Selain web developer saya juga suka eksplorasi tentang pembuatan aplikasi
            Android menggunakan React Native.
            <br /><br />

            Saya memiliki <a href="?">channel youtube</a> yang berisikan konten tentang programming dan freelancing.
            <br /><br />

            Saya juga sedang membangun branding saya di <a href="?">Instagram</a> yang berisikan tentang pengalaman saya
            selama saya menjadi seorang web developer.
        </div>
    </div>
</div>

<div class="full-background lightblue paddingbottom100">
    <div class="container boxjournal">
        <div class="date marginbottom20 lightwhite">January 2021</div>
        <div class="row">
            <div class="col-sm-12 col-lg-10 journalbox">
                <div class="journal-title marginbottom30 black">BukaKamar</div>
                <div class="journal-story grey">Pada project ini saya mengerjakan keseluruhan dari Frontend, Backend,
                    API dan
                    Aplikasi Android.</div>
            </div>
            <div class="col-sm-12 col-lg-2">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-12">
                        <div class="black additionalinfotitle1">Web Framework</div>
                        <div class="grey">CodeIgniter</div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-12">
                        <div class="black additionalinfotitle1">Mobile Application</div>
                        <div class="grey">React Native</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center py-4">bukakamar.jpg</div>
    <!-- <div class="margin-journal-img"><img class="journal-img" src="https://res.cloudinary.com/dmkgftexa/image/upload/v1665623525/task_pudj9w.jpg"></div> -->

</div>

<div class="full-background lightblue paddingbottom100" style="background:#F5F6F8;">
    <div class="container boxjournal">
        <div class="date marginbottom20 lightwhite">January 2021</div>
        <div class="row">
            <div class="col-sm-12 col-lg-10 journalbox">
                <div class="journal-title marginbottom30 black">BayarPlus</div>
                <div class="journal-story grey">Pada project ini saya mengerjakan bagian convert dari HTML ke Laravel
                    menggunakan frontend VueJS, selain frontend saya juga mengerjakan bagian API dan Backend.</div>
            </div>
            <div class="col-sm-12 col-lg-2">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-12">
                        <div class="black additionalinfotitle1">Framework</div>
                        <div class="grey">Laravel + VueJS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center py-4">bayarplus.jpg</div>
    <!-- <div class="margin-journal-img"><img class="journal-img" src="https://res.cloudinary.com/dmkgftexa/image/upload/v1665623525/task_pudj9w.jpg"></div> -->

</div>