<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Landing Page</title>
    <link rel='stylesheet' id='authority-pro-css' href='{{ site.baseurl }}assets/css/landingpage.css' media='all' />
    <link rel='stylesheet' id='authority-fonts-css'
        href='//fonts.googleapis.com/css?family=Source+Sans+Pro%3A600%2C700%2C900%7CLibre+Baskerville%3A400%2C400italic%2C700&#038;ver=1.5.1'
        media='all' />
    <!-- load jquery here -->
</head>

<body
    class="page-template page-template-page-templates page-template-landing page-template-page-templateslanding-php page page-id-473 page-child parent-pageid-31 wp-embed-responsive theme-genesis woocommerce-no-js header-full-width full-width-content genesis-breadcrumbs-hidden top-banner-hidden landing-page">
    <div class="site-container">
        <div class="site-inner">
            <div class="content-sidebar-wrap">
                <main class="content">
                    <article class="post-473 page type-page status-publish entry" aria-label="Landing Page" itemscope
                        itemtype="https://schema.org/CreativeWork">
                        <header class="entry-header">
                            <h1 class="entry-title" itemprop="headline">Landing Page</h1>
                        </header>
                        <div class="entry-content" itemprop="text">
                            <p>This is an example of a WordPress page, you could edit this to put information so readers
                                know where you are coming from. You can create as many pages like this one or sub-pages
                                as you like and manage all of your content inside of WordPress.</p>
                            <h4>Reason #1 To Buy This Theme</h4>
                            <p>This is an example of a WordPress page, you could edit this to put information so readers
                                know where you are coming from. You can create as many pages like this one or sub-pages
                                as you like and manage all of your content inside of WordPress. This is an example of a
                                WordPress page, you could edit this to put information so readers know where you are
                                coming from. You can create as many pages as you like and manage all of your content.
                            </p>
                            <h4>Reason #2 To Buy This Theme</h4>
                            <p>This is an example of a WordPress page, you could edit this to put information so readers
                                know where you are coming from. You can create as many pages like this one or sub-pages
                                as you like and manage all of your content inside of WordPress. This is an example of a
                                WordPress page, you could edit this to put information so readers know where you are
                                coming from. You can create as many pages as you like and manage all of your content.
                            </p>
                            <h4>Reason #3 To Buy This Theme</h4>
                            <p>This is an example of a WordPress page, you could edit this to put information so readers
                                know where you are coming from. You can create as many pages like this one or sub-pages
                                as you like and manage all of your content inside of WordPress. This is an example of a
                                WordPress page, you could edit this to put information so readers know where you are
                                coming from. You can create as many pages as you like and manage all of your content.
                            </p>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
</body>

</html>